.child-widget-container {
  padding: 2rem;
  margin: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #34485f;
  color: #fcfcfc;
  border-radius: 2rem;
}

.main-subjects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
}

.subjects-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.subject-item {
  padding: 0.5rem;
  margin: 0.3rem;
  background: #fcfcfc;
  color: #34485f;
  border-radius: 1rem;
  border: 1px solid #34485f;
}

.main-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.calendar-container,
.marks-container,
.student-schedule-container,
.feedback-container {
  border: #34485f 2px solid;
  background: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  box-shadow: "lg";
}

@media screen and (min-width: 576px) {
  .main-info-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 100%;
    height: 100%;
  }
}
