* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
:root {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: rgb(254, 254, 255);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* main-div (use it for yor main componenet */
  .main-div-s {
    @apply w-full flex flex-wrap gap-6 items-center;
  }

  /*  */
  .secondery-div-s {
    /* @apply grid grid-cols-1  m-2 p-2 space-x-4 w-full flex flex-col items-center; */
    @apply w-full;
  }

  /* main div with 2cols */
  /* .cols2-div-s {
    @apply grid grid-cols-1 m-2 p-2 lg: grid-cols-2 gap-x-3 gap-y-3 flex justify-items-center;
  } */

  /* component div */
  .c-div-s {
    @apply border border-gray-300 rounded-md p-2 bg-white w-full min-w-[250px];
  }

  .h2-s {
    @apply text-sm font-semibold text-center py-1;
  }

  .blue-button {
    @apply bg-blue-500 text-white px-2 py-1.5 rounded;
  }

  .blue-button:focus {
    @apply outline-none ring-2 ring-blue-300;
  }

  .blue-button:hover {
    @apply bg-blue-700
  }

  /* .turquoise-button {
    @apply bg-turquoise-500 text-white px-2 py-1.5 rounded;
  } */

  .turquoise-button:focus {
    @apply outline-none ring-2 ring-turquoise-300;
  }

  .turquoise-button:hover {
    @apply bg-turquoise-700;
  }

  .turquoise-button {
    @apply text-white px-2 py-1.5 rounded hover: bg-pink-500;
  }

  .turquoise-button:focus {
    @apply outline-none ring-2 ring-turquoise-500 bg-pink-300;
  }

  .table-s {
    @apply min-w-full bg-white divide-y divide-gray-200 text-sm;
  }

  .thead-s {
    @apply bg-gray-50;
  }

  .th-s {
    @apply bg-gray-50 border-b-2 border-gray-300 px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
  }

  .td-s {
    @apply px-4 py-2 whitespace-nowrap text-left text-sm;
  }

  .table-action-s {
    @apply px-4 py-2 whitespace-nowrap text-left;
  }

  .expanded-row-s {
    @apply px-4 py-2 bg-gray-50 text-gray-700;
  }

  .expand-button-s {
    @apply relative text-blue-900 hover: text-white hover:bg-gray-200 rounded-full p-1;
  }

  @media (max-width: 640px) {

    .td-s,
    .th-s {
      @apply px-2 py-1;
    }

    .h2-s {
      @apply text-lg;
    }
  }

  /* .nav-items {
  @apply relative flex h-full items-center p-4 cursor-pointer font-normal text-[15px] text-white hover:text-white hover:bg-orange-50/5 transition-colors ease-in-out
  } */
}